*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  
background-color: black;
margin: 0px 10rem;
}
h1{
    color: white;
}

.container{
    display: grid;
grid-template-columns: 1fr 2fr;
}
.background-image{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 610px;
}
.logo{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 192px;
    left: 214px;
    filter: brightness(2);
    opacity: 0.5;
}
.form-container{
    background-color: white;
}